:root {
  --primary: #64007a;
  --vp-c-accent: #64007a;
  --vp-c-brand: var(--primary);
  --vp-c-brand-light: #9000b0;
  --vp-c-brand-lighter: #ffffff;
}

.dark {
  --vp-c-brand: #b200da;
  --vp-c-brand-dark: #d000ff;
  --vp-c-brand-darker: #d000ff;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

 :root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #64007a 20%,
    #8e00ad
  );
}
